<style>
#header{
         display: none;
        }
        #top-menu {
         display:none;
        }
        #footer {
         display:none;
        }
.gototop {
  display:none
}
.divCenter {
	 position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 350px;
}

</style>
<%= stylesheet_link_tag 'ishare.password', :plugin => 'redmine_ishare' %>
<div class="divCenter">
<div class="wrapper">
<div><a href="https://pm.rultech.com/">
<img src="../images/site_logo.png" alt="RulTech Logo" title="RulTech Logo" style="width: 200px;">
</a>
    <h2>Log In</h2>
      <p>Log in using the shared password.</p>
</div>
    <%= form_with :method => 'post' do |f| %>
    <div class="pass-feild">
      <%= image_tag("51-256.png", alt: "", class: "ip-pass-icon", :plugin => 'redmine_ishare') %>
<!--      <img src="51-256.png" alt="" class="ip-pass-icon" />-->
      <%= f.password_field :password, :maxlength => 10, :name =>"pass", :placeholder => "Password", :class => "ip-pass" %>
    </div>
    <%= f.submit "Login", :class=>"ip-btn"   %>
    <span class="hor-line"></span>
    <% end %>
</div>
</div>
